.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
}

.main-heading {
  font-weight: bolder;
  font-family: Bree Serif;
  font-size: 48px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b8794;
  padding: 6px;
  border-radius: 8px;
}

.search-input {
  height: 32px;
  width: 200px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input::placeholder {
  font-size: 18px;
  color: #7b8794;
}

.search-icon {
  padding: 0px;
  height: 30px;
  width: 30px;
}

/*
 above line styles are
 main heading ,
 input and its container
 */

/* now started the tab list styles*/

.tab-list {
  list-style: none;
  display: flex;
  margin-left: 0px;
}

.tab-item {
  padding: 8px;
  border-bottom: 3px solid #7b8794;
  color: #7b8794;
}

.check {
  border-bottom: 4px solid green;
  padding: 6px;
  color: green;
  transition: ease-in-out;
}

/* above line styles are
tab and its functionality and its style*/

.app-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80wv;
}

.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 140px;
  width: 120px;
  border-radius: 14px;
  margin: 16px;
  padding: 8px;
}

.app-img {
  height: 60%;
  width: 70%;
}
